* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #007BFF;
    --color-blue-hover: #006bdd;
    --color-text: #212529;
    --color-text-greey: rgb(108, 117, 125);
    --bg--greey: #f7f7f7;
}

a {
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*--- Header --- */

.header {
    width: 100%;
    padding: 0.9375em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.header__logo {
    grid-area: logo;
    font-weight: 400;
    text-decoration: none;
}

.header__nombre {
    display: inline-block;
    font-size: 1.25em;
}

.header__menu {
    grid-area: opciones;
    font-size: 1em;
}

.header__link {
    margin: 0px 5px;
    font-size: 1em;
}

.header__btn {
    padding: 0.5em 0.93em;
    background-color: #fff;
    color: var(--color-blue);
    border-radius: 5px;
    border: 1px solid var(--color-blue);
    margin-left: 0.9375em;
    font-family: 1em;
    transition: .3s;
}

.sing {
    display: inline-block;
}

.header__btn:hover {
    background-color: var(--color-blue);
    color: #fff;
    text-decoration: none;
}

/*--- Header --- */

.container {
    font-size: 1em;
    max-width: 950px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 0px 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "jumbotron     jumbotron   jumbotron   jumbotron   jumbotron   jumbotron"
                         "card-1        card-1      card-2      card-2      card-3      card-3"
                         "footer        footer      footer      footer      footer      footer";
}


/*--- Jumbotron --- */

.jumbotron {
    font-size: 1em;
    grid-area: jumbotron;
    margin: 3.125rem auto;
    justify-content: center;
    text-align: center;
}

.jumbotron__title {
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 0.9375rem;
}

.jumbotron__texto {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.25em;
    word-spacing: 2px;
    line-height: 1.75rem;
    max-width: 43.75rem;
}

/*--- cards --- */
.card {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.10);
    font-size: 1em;
}



.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card__title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8125em;
    background-color: var(--bg--greey);
    padding: 10px 0px;
    text-align: center  ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card__body {
    padding: 0.9375em;
}

.card__pricing {
    color: var(--color-text-greey);
    font-size: 2em;
    margin-bottom: 0.9375rem;
}


.card__pricing span {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--color-text);
}

.card__text {
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 1.5625em;
}

.card__button {
    padding: 10px 15px;
    background-color: var(--color-blue);
    border-radius: 4px;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.875rem;
    transition: .3s;
}

.card__button:hover {
    text-decoration: none;
    background-color: var(--color-blue-hover);
}

.button--outline {
    background-color: #fff;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.button--outline:hover {
    background-color: var(--color-blue);
    color: #fff;
    text-decoration: none;
}


/*--- Footer --- */

.footer {
    grid-area: footer;
    font-size: 1em;
    margin: 3.4375em 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 2.8125em;
    text-decoration: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo      info        resources       about";
}

.footer__logo {
    grid-area: logo;
    display: block;
}

.footer__logo > img{
    max-width: 20px;
    max-height: 20px;
}

.footer__derechos {
    display: block;
    font-size: 0.75em;
    line-height: 1.1875em;
}

.footer__info {
    grid-area: info;
}

.footer__resources {
    grid-area: resources;
}

.footer__about {
    grid-area: about;
}

.footer__title {
    font-size: 1.25em;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer__items {
    font-size: 1em;
    line-height: 1.5em;
    list-style-type: none;
}

.footer__items a {
    color: var(--color-text-greey);
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }

}


@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .container {
        width: 92%;
        gap: 20px;
        grid-template-areas: "jumbotron     jumbotron   jumbotron   jumbotron   jumbotron   jumbotron"
                             "card-1        card-1      card-1      card-2      card-2      card-2"
                             "card-3        card-3      card-3      card-3      card-3      card-3"
                             "footer        footer      footer      footer      footer      footer";
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .sing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        margin-bottom: 8px;
    }

    .header__link {
        padding: 0px 5px;
    }    

    .sing {
        margin-top: 10px;
    }

    .jumbotron {
        margin: 0.625rem auto;
    }

    .jumbotron__title {
        margin-top: 0.625rem;
    }

    .jumbotron__texto {
        max-width: auto;
    }

    .footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo      logo        logo            logo"
                             "info      info        resources       resources"
                             "about     about       about           about";
    }

}



@media screen and (max-width: 548px) {
    body {
        font-size: 14px;
    }

    .container {
        grid-template-areas: "jumbotron     jumbotron   jumbotron   jumbotron   jumbotron   jumbotron"
                             "card-1        card-1      card-1      card-1      card-1      card-1"
                             "card-2        card-2      card-2      card-2      card-2      card-2"
                             "card-3        card-3      card-3      card-3      card-3      card-3"
                             "footer        footer      footer      footer      footer      footer";
    }

    .jumbotron__texto {
        word-spacing: normal;
        line-height: 1.5rem;
    }

}